@media screen and (max-width: 1023px) {
  .body {
    max-width: 1023px;
  }

  .wrapper {
    max-width: 823px;
    margin: 0 auto;
  }

  .heder {
    padding-bottom: 4vh;
  }

  .header__body {
    height: 120px;
  }

  .header__logo {
    padding-left: 15%;
  }

  .header__burger {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    left: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    background: #242424;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    right: 0;
    background: #242424;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 25%;
  }

  .header__burger:after {
    bottom: 25%;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 19px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 19px;
  }

  .header__body {
    height: 120px;
  }

  .header__menu {
    position: absolute;
    display: block;
    top: -400%;
    left: -70px;
    width: 35%;
    height: 270%;
    background-color: #FFFFFF;
    padding: 30px 0px 20px 20px;
    border-radius: 5%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border: 2px solid #FF5300;
  }

  .header__menu.active {
    top: 80px;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    display: block;
    padding-bottom: 25px;
  }

  .header__link:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  .header__sign {
    margin-left: 250%;
    padding-left: 5px;
    padding-right: 5px;
    /*padding: 5px;*/
    height: 30px;
  }

  .header__btn {
    width: 25%;
  }

  .WhatMatters {
    margin-bottom: 2em;
  }

  .WhatMatters__description {
    padding: 0.5em 3em 0.5em 0.5em;
  }

  .WhatMatters__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #373737;
    margin-bottom: 0, 1em;
  }

  .grid {
    margin-bottom: 4em;
  }

  .border__h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 34px;
    line-height: 150%;
    color: #373737;
    margin-bottom: 1.5em;
  }

  .OurServices__h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 34px;
    line-height: 150%;
    color: #373737;
    margin-bottom: 1em;
  }

  .OurProject {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 34px;
    line-height: 150%;
    color: #373737;
  }

  .OurProject__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #373737;
    padding: 10px 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .ClientSaying {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 34px;
    line-height: 150%;
    color: #373737;
  }

  .OurCapabilities__h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 34px;
    line-height: 150%;
    color: #373737;
  }

  .OurCapabilities__count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 25px;
    line-height: 150%;
    color: #373737;
    text-align: center;
    color: #FF5300;
    margin-bottom: 0.5em;
    margin: 0 auto;
  }

  .result {
    padding: 50px 40px;
  }

  .resultStatistics__count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 34px;
    line-height: 150%;
    color: #373737;
    color: #FFFFFF;
  }

  .blog {
    margin-bottom: 2em;
  }

  .OurBlog__h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 34px;
    line-height: 150%;
    color: #373737;
    margin-bottom: 2em;
  }

  .Subscribe {
    height: 190px;
    margin-bottom: 4em;
  }

  .Subscribe__name {
    width: 30%;
    padding: 10px 30px;
  }

  .form {
    width: 60%;
  }

  .footer {
    padding: 40px 0;
  }

  .footer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 25px;
    line-height: 150%;
    color: #373737;
    color: #FF5300;
    margin-bottom: 0.5em;
  }
}