@media screen and (max-width: 768px) {
  .header__menu {
    top: -390%;
    left: -30px;
    width: 90%;
    height: 270%;
  }

  .wrapper {
    max-width: 767px;
    padding: 0 70px;
  }

  .WhatMatters {
    display: block;
    width: 100%;
    margin-bottom: 3em;
  }

  .WhatMatters__description {
    display: block;
    width: 100%;
    padding: 0 5em 1em 0;
  }

  .WhatMatters__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 43px;
    line-height: 100%;
    color: #373737;
    margin-bottom: 0, 5em;
    padding-right: 10%;
  }

  .WhatMatters__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #7B7B7B;
    margin-bottom: 2em;
    padding-right: 3%;
  }

  .WhatMatters__btn {
    display: block;
    padding: 8px 19px;
    background: #FF5300;
    border-radius: 5px;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #373737;
    color: #FFFFFF;
  }

  .border__h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 34px;
    line-height: 150%;
    color: #373737;
    margin-bottom: 1em;
  }

  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 4em;
  }

  .grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .grid > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .grid > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .grid > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .grid > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .gridItems__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;
    color: #7B7B7B;
    padding-bottom: 1em;
  }

  .gridItems__bigText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #7B7B7B;
    margin-bottom: 1em;
  }

  .OurServices {
    display: block;
    width: 100%;
    margin-bottom: 3em;
  }

  .OurServices__description {
    display: block;
    width: 100%;
  }

  .borderText2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #7B7B7B;
    color: #FF5300;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .borderText2::before {
    content: "";
    border: 1px solid #FF5300;
    width: 40px;
    height: 0;
    margin-right: 15px;
  }

  .OurServices__h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 34px;
    line-height: 150%;
    color: #373737;
    margin-bottom: 1em;
    padding-right: 10%;
  }

  .OurServices__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #7B7B7B;
    margin-bottom: 2em;
    padding-right: 3%;
  }

  .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #7B7B7B;
    margin-bottom: 1em;
    color: #373737;
  }

  .OurProject__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .OurCapabilities {
    display: inline-block;
    width: 100%;
    margin-bottom: 2em;
  }

  .OurCapabilities__description {
    width: 100%;
    padding: 5px 5px 5px 5px;
  }

  .OurCapabilities__h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 34px;
    line-height: 150%;
    color: #373737;
    margin-bottom: 1em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 10%;
  }

  .OurCapabilities__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #7B7B7B;
    margin-bottom: 1em;
    padding-right: 3%;
  }

  .result {
    margin-bottom: 3em;
  }

  .OurBlog__h2 {
    margin-bottom: 1em;
  }

  .blog {
    display: block;
    padding: 3px;
    margin-bottom: 3em;
  }

  .blog__item {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    padding-left: 0;
    margin: 0;
    padding: 10px 0;
  }

  .blog__imges {
    width: 50%;
    padding: 0;
  }

  .adaptation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .adaptation1 {
    display: block;
    width: 45%;
    padding: 10px;
  }

  .Subscribe {
    display: block;
    width: 100%;
    margin-bottom: 3em;
    padding-bottom: 5px;
  }

  .Subscribe__name {
    display: block;
    width: 70%;
    padding: 30px;
  }

  .Subscribe__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #7B7B7B;
    color: #FFFFFF;
    margin-bottom: 0.5em;
  }

  .Subscribe__h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 34px;
    line-height: 150%;
    color: #373737;
    color: #FFFFFF;
  }

  .form {
    margin-right: 5px;
    height: 60px;
    width: 95%;
    margin: 0 auto;
  }

  .form__input {
    margin: 10px 0 0px 15px;
    max-width: 350px;
    height: 40px;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #7B7B7B;
  }

  .form__input:focus {
    outline: 0;
  }

  .form__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #373737;
    background: #FF5300;
    color: #FFFFFF;
    -webkit-filter: drop-shadow(4px 5px 15px rgba(255, 83, 0, 0.1));
            filter: drop-shadow(4px 5px 15px rgba(255, 83, 0, 0.1));
    border: none;
    border-radius: 5px;
    margin: 5px 5px 5px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
  }

  .result {
    width: 100%;
    display: block;
    margin: 0 0px 3em 0px;
    padding: 20px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .resultStatistics {
    display: block;
    text-align: center;
    width: 100%;
    height: 135px;
  }

  .resultStatistics__border {
    border: 3px solid #FFFFFF;
    width: 134px;
    height: 0px;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1em auto;
  }

  .footer {
    padding: 40px 0;
  }

  .footer-block {
    margin-left: 4.7%;
    margin-right: 4.7%;
  }

  .footer__about_us {
    display: block;
    width: 45%;
    padding: 5px;
    margin: 5px;
  }

  .footer__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #7B7B7B;
    color: #FFFFFF;
  }

  .footer__contacts {
    display: block;
    width: 45%;
    padding: 5px;
    margin: 5px;
  }

  .footer__contacts3 {
    display: block;
    width: 45%;
    padding: 5px;
    margin: 5px;
  }

  .footer__h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 25px;
    line-height: 150%;
    color: #373737;
    color: #FF5300;
    margin-bottom: 1em;
  }

  .footer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #373737;
    color: #FFFFFF;
  }

  .footer__imges img {
    margin: 0 5px;
  }

  .footer__border {
    border: 1px solid #FFFFFF;
    max-width: 1170px;
    height: 0px;
    margin-left: 68.5px;
    margin-right: 68.5px;
  }

  .modal .modal-wrapper {
    width: 70%;
    height: 60%;
    max-width: 400px;
    min-height: 300px;
    top: 10%;
  }
}
@media screen and (max-width: 768px) and (max-width: 650px) {
  .header__logo {
    padding-left: 50%;
  }

  .header__btn {
    position: absolute;
    right: 0;
    top: 90px;
    width: 135px;
    height: 50px;
  }

  .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #373737;
    padding: 0.3em 0.5em;
  }
}
@media screen and (max-width: 768px) and (max-width: 650px) and (max-width: 441px) {
  .footer__about_us {
    display: block;
    width: 80%;
    padding: 5px;
    margin: 10px 0;
  }

  .footer__contacts {
    display: block;
    width: 80%;
    padding: 5px;
    margin: 10px 0;
  }

  .footer__contacts3 {
    display: block;
    width: 90%;
    padding: 5px;
    margin: 10 0px;
  }
}
@media screen and (max-width: 768px) and (max-width: 650px) and (max-width: 441px) and (max-width: 640px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 1em;
  }
  .grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .grid > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .grid > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .grid > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .grid > *:nth-child(6) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }

  .gridItems {
    padding: 0;
    display: block;
    text-align: center;
  }

  .gridItems__h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 25px;
    line-height: 150%;
    color: #373737;
    padding-bottom: 1em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .gridItems__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;
    color: #7B7B7B;
    padding-bottom: 1em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .gridItems__bigText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #7B7B7B;
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 768px) and (max-width: 650px) and (max-width: 441px) and (max-width: 640px) and (max-width: 520px) {
  .form {
    height: 110px;
    width: 100%;
    display: block;
  }

  .form__input {
    margin: 10px;
    max-width: 500px;
    height: 50px;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #7B7B7B;
  }

  .form__btn {
    margin: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 10px;
  }
}