@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap");
.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

* {
  padding: 0px;
  margin: 0px;
}

.heder {
  width: 100%;
  top: 0;
  left: 0;
  padding-bottom: 10vh;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 20%;
}

.header__menu {
  width: 60%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-left: 2.8%;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #373737;
}

.header__link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__btn {
  right: 0;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #373737;
  padding: 0.5em 1em;
}

.WhatMatters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 7em;
}

.WhatMatters__description {
  display: block;
  width: 50%;
  padding: 1em 3em 1em 1em;
}

.WhatMatters__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 48.83px;
  line-height: 150%;
  color: #373737;
  margin-bottom: 0, 1em;
}

.WhatMatters__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #7B7B7B;
  margin-bottom: 2em;
}

.WhatMatters__btn {
  display: block;
  padding: 10px 22px;
  background: #FF5300;
  border-radius: 5px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #373737;
  color: #FFFFFF;
}

.WhatMatters__btn:hover {
  padding: 8px 22px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.WhatMatters__imges {
  max-width: 553px;
  max-height: 471px;
  padding: 0.5em;
}

.WhatMatters__img {
  width: 100%;
}

.border {
  margin-bottom: 1em;
}

.borderText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #7B7B7B;
  color: #FF5300;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.borderText::after {
  content: "";
  border: 1px solid #FF5300;
  width: 40px;
  height: 0;
  margin-left: 15px;
}

.borderText::before {
  content: "";
  border: 1px solid #FF5300;
  width: 40px;
  height: 0;
  margin-right: 15px;
}

.border__h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 39px;
  line-height: 150%;
  color: #373737;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 6em;
}

.grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.grid > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.grid > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.gridItems {
  padding: 30px 20px 20px 25px;
}

.gridItems img {
  padding-bottom: 1em;
}

.gridItems__h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 25px;
  line-height: 150%;
  color: #373737;
  padding-bottom: 1em;
}

.gridItems__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12.8px;
  line-height: 150%;
  color: #7B7B7B;
  padding-bottom: 1em;
}

.gridItems__bigText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #7B7B7B;
  margin-bottom: 2em;
}

.OurServices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 4em;
}

.OurServices__description {
  display: block;
  width: 45%;
  padding: 5px;
}

.border {
  margin-bottom: 2em;
}

.borderText2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #7B7B7B;
  color: #FF5300;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.borderText2::after {
  content: "";
  border: 1px solid #FF5300;
  width: 40px;
  height: 0;
  margin-left: 15px;
}

.OurServices__h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 39px;
  line-height: 150%;
  color: #373737;
  margin-bottom: 1em;
}

.OurServices__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #7B7B7B;
  margin-bottom: 2em;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #7B7B7B;
  margin-bottom: 1em;
  color: #373737;
}

.item::before {
  content: url(../img/checkbox-circle-fill.svg);
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.OurServices__imges {
  max-width: 575px;
  max-height: 388px;
  padding: 30px 5px;
}

.OurServices__img {
  width: 100%;
}

.OurProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 39px;
  line-height: 150%;
  color: #373737;
  margin-bottom: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.OurProject__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
}

.OurProject__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #373737;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
}

.OurProject__link:hover {
  background: #FF5300;
  -webkit-transition: 1s;
  transition: 1s;
}

.OurProject__link:focus {
  background: #FF5300;
}

.OurProject__menu li {
  list-style: none;
}

.OurProject__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 4em;
}

.OurProject__grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.OurProject__grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.OurProject__grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.OurProject__grid > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.OurProject__grid > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.OurProject__grid > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.OurProject__grid > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.OurProject__grid > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.OurProject__grid > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.OurProject__item {
  max-width: 390px;
  max-height: 313px;
  display: inline-block;
  overflow: hidden;
}

.OurProject__item img {
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  display: block;
}

.OurProject__item img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.ClientSaying {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 39px;
  line-height: 150%;
  color: #373737;
  margin-bottom: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3em;
}

.slider__item {
  display: block;
  padding: 25px;
  margin: 0 1em;
}

.slider__item img {
  width: 60px;
  height: 60px;
  margin-bottom: 1em;
}

.slider__comment {
  max-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #7B7B7B;
}

.slider__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
}

.slider__text {
  display: block;
  margin: 0 2em 0 1em;
}

.slider__orangeName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #373737;
  color: #FF5300;
}

.slider__profession {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12.8px;
  line-height: 150%;
  color: #7B7B7B;
}

.OurCapabilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 5em;
}

.OurCapabilities__description {
  width: 50%;
  padding: 5px 20px 5px 5px;
}

.OurCapabilities__h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 39px;
  line-height: 150%;
  color: #373737;
  margin-bottom: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.OurCapabilities__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #7B7B7B;
  margin-bottom: 1em;
}

.OurCapabilities__percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.OurCapabilities__item {
  display: block;
  width: 115px;
  margin: 10px;
  text-align: center;
}

.OurCapabilities__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 25px;
  line-height: 150%;
  color: #373737;
  display: block;
  color: #FF5300;
  margin-bottom: 1em;
  text-align: center;
}

.OurCapabilities__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12.8px;
  line-height: 150%;
  color: #7B7B7B;
  display: block;
}

.OurCapabilities__imges {
  max-width: 575px;
  max-height: 350px;
  padding: 40px 5px;
}

.OurCapabilities__img {
  width: 100%;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5em;
  background: #FF5300;
  border-radius: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 70px 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resultStatistics {
  display: block;
  text-align: center;
  width: 150px;
  height: 135px;
}

.resultStatistics__imges {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.resultStatistics__img {
  width: 100%;
}

.resultStatistics__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 39px;
  line-height: 150%;
  color: #373737;
  color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resultStatistics__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #373737;
  color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resultStatistics__border {
  border: 3px solid #FFFFFF;
  height: 134px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.OurBlog__h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 39px;
  line-height: 150%;
  color: #373737;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2em;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3px;
  margin-bottom: 5em;
}

.blog__item {
  display: block;
  padding: 5px;
  margin: 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-left: 15px;
}

.blog__imges {
  max-width: 340px;
  max-height: 225px;
  margin-bottom: 2em;
}

.blog__img {
  width: 100%;
}

.blog__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #373737;
  margin-bottom: 1em;
}

.blog__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
}

.blog__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__date img {
  margin-right: 0.3em;
}

.blog__date_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10.5px;
  line-height: 188%;
  color: #373737;
  margin-right: 0.6em;
}

.blog__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #7B7B7B;
  margin-bottom: 1em;
}

.blog__btn {
  padding: 10px 30px;
  -webkit-filter: drop-shadow(4px 5px 15px rgba(255, 83, 0, 0.1));
          filter: drop-shadow(4px 5px 15px rgba(255, 83, 0, 0.1));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #373737;
  background: #FF5300;
  border-radius: 5px;
  color: #FFFFFF;
  margin-bottom: 1em;
  border: none;
  text-align: center;
}

.blog__btn:hover {
  padding: 8px 28px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.Subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 200px;
  background: #FF5300;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5em;
}

.Subscribe__name {
  display: block;
  width: 40%;
  padding: 50px;
}

.Subscribe__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #7B7B7B;
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

.Subscribe__text::after {
  content: "";
  border: 1px solid #FFFFFF;
  width: 40px;
  height: 0;
  margin-left: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Subscribe__h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 39px;
  line-height: 150%;
  color: #373737;
  color: #FFFFFF;
}

.form {
  height: 70px;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFFFFF;
  border-radius: 5px;
}

.form__input {
  margin: 10px 0 0px 15px;
  max-width: 500px;
  height: 50px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #7B7B7B;
}

.form__input:focus {
  outline: 0;
}

.form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #373737;
  background: #FF5300;
  color: #FFFFFF;
  padding: 10px 30px;
  -webkit-filter: drop-shadow(4px 5px 15px rgba(255, 83, 0, 0.1));
          filter: drop-shadow(4px 5px 15px rgba(255, 83, 0, 0.1));
  border: none;
  border-radius: 5px;
  margin: 5px 5px 5px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__btn:hover {
  padding: 7px 29px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.footer {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.95)), to(rgba(0, 0, 0, 0.95))), url(Daco_1772774.png);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)), url(Daco_1772774.png);
  width: 100%;
  padding: 60px 0;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3em;
  margin-left: 68.5px;
  margin-right: 68.5px;
}

.footer__about_us {
  display: block;
  width: 23%;
  padding: 5px;
}

.footer__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #7B7B7B;
  color: #FFFFFF;
}

.footer__contacts {
  display: block;
  width: 22%;
  padding: 5px;
}

.footer__contacts3 {
  display: block;
  width: 33%;
  padding: 5px;
}

.footer__h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 25px;
  line-height: 150%;
  color: #373737;
  color: #FF5300;
  margin-bottom: 1em;
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #373737;
  color: #FFFFFF;
}

.footer__imges img {
  margin: 0 5px;
}

.footer__border {
  border: 1px solid #FFFFFF;
  max-width: 1170px;
  height: 0px;
  margin-left: 68.5px;
  margin-right: 68.5px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  -webkit-perspective: 500px;
          perspective: 500px;
  /*  opacity: 0;*/
  /*visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;*/
}

.modal .modal-wrapper {
  width: 50%;
  height: 40%;
  max-width: 400px;
  min-height: 300px;
  top: 30%;
  background: #FFFFFF;
  position: absolute;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(255, 83, 0, 0.4);
          box-shadow: 0px 0px 13px 0px rgba(255, 83, 0, 0.4);
  border-radius: 10px;
  border: 2px solid #FF5300;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-animation-name: modal;
          animation-name: modal;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.modal-header {
  padding: 20px;
}

.closeBtn {
  cursor: pointer;
  float: right;
  font-size: 40px;
  color: black;
}

.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 20px;
  margin-top: 1em;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 39px;
  line-height: 150%;
  color: #373737;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.modal-close:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@-webkit-keyframes modal {
  from {
    opacity: 0;
    top: 10%;
    -webkit-transform: rotateX(15deg);
            transform: rotateX(15deg);
  }
  to {
    opacity: 1;
    top: 30%;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes modal {
  from {
    opacity: 0;
    top: 10%;
    -webkit-transform: rotateX(15deg);
            transform: rotateX(15deg);
  }
  to {
    opacity: 1;
    top: 30%;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}