
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');

@mixin font_menu{
	display: flex;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: medium;
	font-weight: 500;
	font-size: 20px;
	line-height: 130%;
	color: #373737;
}

@mixin font_name{
	display: flex;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: bold;
	font-weight: 700;
	font-size: 45px;
	line-height: 130%;
	color: #373737;
}
@mixin font_h2{
	display: flex;
    font-family: 'Noto Sans KR', sans-serif;
	font-style: bold;
	font-weight: 700;
	font-size: 39px;
	line-height: 150%;
	color: #373737;

}
@mixin font_h4{
	display: flex;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: bold;
	font-weight: 700;
	font-size: 25px;
	line-height: 150%;
	color: #373737;
}

@mixin font_text{
	display: flex;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: medium;
	font-weight: 500;
	font-size: 16px;
	line-height: 150% ;
	color: #7B7B7B;
}

@mixin font_SmallText{
	display: flex;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 12.8px;
	line-height: 150%;
	color: #7B7B7B;
}
@mixin font_MicroText{
	display: flex;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 10.5px;
	line-height: 188%;
	color: #373737;
}
.body{
	
	overflow-x: hidden;
	overflow-y: scroll !important;
	margin: 0 auto;
}

.wrapper {
	max-width: 1440px;
	 margin: 0 auto;
	 padding: 0 135px;	
}
a{
	text-decoration: none;
}

*{
    padding: 0px;
    margin: 0px;
}

.heder {
	width: 100%;
    top: 0;
    left: 0;
    padding-bottom: 10vh;
}
.conteiner {

}
.header__body {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 130px;
    align-items: center;

}
.header__logo {
	max-width: 186px;
	max-height: 50px;
}
.header__logo img{
	width: 100%;
}


.header__burger {}
.header__menu {
	width: 70%;

}
.header__list {
	display: flex;
	justify-content: center;
}
.header__list li{
	display: flex;
	list-style: none;
	margin-left: 2.5%;
}
.header__link {
	@include font_menu;
}
.header__link:hover {
	transform: scale(1.2);
}
.header__btn {

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	width: 135px;
	height: 50px;

}
.btn {
	@include font_menu;
    padding: 0.5em 0.8em;

}

.WhatMatters {
	display: flex;
	width: 100%;
	margin-bottom: 7em;
}
.WhatMatters__description {
	display: block;
	width: 50%;
	padding: 1em 1em 1em 1em;
}
.WhatMatters__name {
	@include font_name;
	margin-bottom: 0,1em;
}
.WhatMatters__text {
	@include font_text;
	margin-bottom: 2em;
}
.WhatMatters__btn {
	display: block;
	padding: 10px 22px;
    background: #FF5300;
    border-radius: 5px;
    border: none;
    @include font_menu;
    color: #FFFFFF;
}
.WhatMatters__btn:hover {
	padding: 8px 22px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} 
.WhatMatters__imges {
	max-width: 545px;
    max-height: 468px;
    padding: 1em;
}
.WhatMatters__img {
   width: 100%;
}

.border {
	margin-bottom: 1em;
}
 
.borderText {
	@include font_text;
	color: #FF5300;
	justify-content: center;
	align-items: center;
}

.borderText::after {
	content: "";
	border: 1px solid #FF5300;
	width: 40px;
	height: 0;
	margin-left: 15px;	
}
.borderText::before {
	content: "";
	border: 1px solid #FF5300;
	width: 40px;
	height: 0;
	margin-right: 15px;
}

.border__h2{
	@include font_h2;
	justify-content: center;
	align-items: center;
	margin-bottom: 2em;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	margin-bottom: 6em;
}
.gridItems{
	padding: 30px 20px 20px 25px;
}
.gridItems img{
	padding-bottom: 1em;
}
.gridItems__h4 {
    @include font_h4;
    padding-bottom: 1em;
}
.gridItems__text {
	@include font_SmallText;
	padding-bottom: 1em;

}
.gridItems__bigText {
	@include font_text;
	margin-bottom: 2em;
}

.OurServices {
	display: flex;
	width: 100%;
	margin-bottom: 4em;
}
.OurServices__description {
	display: block;
	width: 50%;
	padding: 5px;
}
.border {
	margin-bottom: 2em;
}
.borderText2 {
	@include font_text;
	color: #FF5300;
	align-items: center;
}
.borderText2::after {
	content: "";
	border: 1px solid #FF5300;
	width: 40px;
	height: 0;
	margin-left: 15px;	
}
.OurServices__h2 {
	@include font_h2;
	margin-bottom: 1em;
}
.OurServices__text {
	@include font_text;
	margin-bottom: 2em;
}
.OurServices__list {}
.item {
	@include font_text;
	margin-bottom: 1em;
	color: #373737;
}	
.item::before {
	content: url(../img/checkbox-circle-fill.svg);
	width: 24px;
	height: 24px;
	margin-right: 15px;

	
}
.OurServices__imges {
	max-width: 575px;
	max-height: 388px;
    padding: 30px 10px;
}

.OurServices__img {
	width: 100%;
}

.OurProject {
	@include font_h2;
	margin-bottom: 1em;
	justify-content: center;

}
.OurProject__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2em;
}
.OurProject__link {
	@include font_menu;
	padding: 10px 10px;
	border-radius: 10px;
	border: none;
	flex-wrap: wrap;
}
.OurProject__link:hover {
	background: #FF5300; 
	transition: 1s;
}
.OurProject__link:focus {
	background: #FF5300; 
}

.OurProject__menu li{
	list-style: none;

}
.OurProject__grid {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 4em;
}
.OurProject__item {
	max-width: 390px;
	max-height: 313px;
    display: inline-block;
    overflow: hidden;
}
.OurProject__item img{
	width: 100%;
	transition: 1s;
    display: block;
}
.OurProject__item img:hover{
    transform: scale(1.2);
}

.ClientSaying{
	@include font_h2;
	margin-bottom: 1em;
	justify-content: center;
}



.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
}

/* Стрелка */
 .slick-arrow{
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;
	width: 50px;
	height: 50px;
    border: none;
}
.slick-arrow:hover {
	transform: scale(0.8);
	  
}
/* Стрелка влево */
.slick-arrow.slick-prev{
	left: 0;
	background: url("../img/left.svg") 0 0 / 100% no-repeat;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
	right: 0;
	background: url("../img/Right.svg") 0 0 / 100% no-repeat;
}






.slider {
	position: relative;
	margin-bottom: 3em;
	min-width: 0;
	padding: 0 40px;
}
.slider__item {
	display: block;
	padding: 25px;
	margin: 0 1em;
	min-width: 0;
}
.slider__item img{
	width: 60px;
	height: 60px;
	margin-bottom: 1em;
}
.slider__comment {
	max-width: 320px;
	@include font_text;
}
.slider__name {
	display: flex;
	margin-top: 1em;
}
.slider__text{
	display: block;
	margin: 0 2em 0 1em;
}
.slider__orangeName {
	@include font_menu;
	color: #FF5300;
}
.slider__profession {
	@include font_SmallText;
}

.OurCapabilities {
	display: flex;
	width: 100%;
	margin-bottom: 5em;
}
.OurCapabilities__description{
	width: 50%;
	padding: 5px 20px 5px 5px;
}
.OurCapabilities__h2 {
	@include font_h2;
	margin-bottom: 1em;
	justify-content: center;
}
.OurCapabilities__text {
	@include font_text;
	margin-bottom: 1em;
}
.OurCapabilities__percent {
	display: flex;
	justify-content: space-around;
}
.OurCapabilities__item {
	display: block;
	width: 115px;
	margin: 10px;
	text-align: center;
}
.OurCapabilities__count {
	@include font_h4;
	display: flex;
	color: #FF5300;
	margin-bottom: 1em;
	margin: 0 auto;
	justify-content: center;
}
.OurCapabilities__section {
	 @include font_SmallText;
	 display: block;
}
.OurCapabilities__imges {
	max-width: 575px;
	max-height: 350px;
	padding: 40px 5px;
}
.OurCapabilities__img{
	width: 100%;
}

.result {
	display: flex;
	margin-bottom: 5em;
	background: #FF5300;
    border-radius: 10px;
    justify-content: space-around;
    padding: 70px 60px;
    align-items: center;
}
.resultStatistics {
	display: block;
	text-align: center;
	width: 150px;
	height: 135px;
	
}
.resultStatistics__imges {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto;
}
.resultStatistics__img {
	width: 100%;
	
}
.resultStatistics__count {
	@include font_h2;
	color: #FFFFFF;
	justify-content: center;
}
.resultStatistics__text {
	@include font_menu;
	color: #FFFFFF;
	justify-content: center;
}
.resultStatistics__border {
	border: 3px solid #FFFFFF;
	height: 134px; 
	border-radius: 4px;
	display: flex;
	
}


.OurBlog__h2 {
	@include font_h2;
	justify-content: center;
	margin-bottom: 2em;
}

#more{
  display: none;
  z-index: 5;
}

#more2{
  display: none;
  z-index: 5;

}

#more3{
  display: none;
  z-index: 5;

}

.blog {
	display: flex;
	justify-content: space-between;
	padding: 3px;
	margin-bottom: 5em;
}
.blog__item {
	width: 30%;
	display: block;
	padding: 5px;
	margin: 10px;
	background: #FFFFFF;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding-left: 15px;
	
}
.blog__imges {
	max-width: 340px;
    max-height: 225px;
    // margin: 0 auto;
    margin-bottom: 2em;

}
.blog__img {
	width: 100%;
}
.blog__type {
	@include font_menu;
	margin-bottom: 1em;

}
.blog__description {
	display: flex;
	margin-bottom: 1em;
}
.blog__date {
	display: flex;
	align-items: center;
}
.blog__date img{
	margin-right: 0.3em;
}
.blog__date_text {
	@include font_MicroText;
	margin-right: 0.6em;
}
.blog__text {
	@include font_text;
	margin-bottom: 1em;
	display: block;
	
}
.blog__btn {
	padding: 10px 30px;
	filter: drop-shadow(4px 5px 15px rgba(255, 83, 0, 0.1));
	@include font_menu;
	background: #FF5300;
	border-radius: 5px; 
	color: #FFFFFF;
	margin-bottom: 1em;
	border: none;
	text-align: center;
}
.blog__btn:hover {
	padding: 8px 28px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

} 

.Subscribe {
	display: flex;
	width: 100%;
	background: #FF5300;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	align-items: center;
	margin-bottom: 5em;
}
.Subscribe__name {
	display: block;
	width: 40%;
	padding: 50px;
}
.Subscribe__text {
	@include font_text;
	color: #FFFFFF;
	align-items: center;
	margin-bottom: 1em;
}
.Subscribe__text::after {
	content: "";
	border: 1px solid #FFFFFF;
	width: 40px;
	height: 0;
	margin-left: 15px;	
	align-items: center;
}
.Subscribe__h2 {
	@include font_h2;
	color: #FFFFFF;
}
.form {
	// max-width: 950px;
	height: 70px;
	width: 60%;
	display: flex;
	justify-content: space-between;
	background: #FFFFFF;
	border-radius: 5px;
	margin-right: 20px;
}

.form__input{
	margin: 10px 0 0px 15px;
	max-width: 500px;
	height: 50px;
	border: none;	
	@include font_text;

}
.form__input:focus{
    outline: 0;
}

.form__btn{
	@include font_menu;
	background: #FF5300;
	color: #FFFFFF;
	padding: 10px 30px;
	filter: drop-shadow(4px 5px 15px rgba(255, 83, 0, 0.1));
	border: none;
	border-radius: 5px;
	margin: 5px 5px 5px 0;
	align-items: center;
	padding: 5px;
}
.form__btn:hover {
	padding: 7px 29px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} 

.footer{
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)), url(Daco_1772774.png);
	width: 100%;
	padding: 60px 0;
}
.footer-block {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3em;
	margin-left: 4.7%;
	margin-right: 4.7%;

}
.footer__about_us {
	display: block;
	width: 23%;
	padding: 5px;
	margin: 5px;
}
.footer__description {
	@include font_text;
	color: #FFFFFF;
}
.footer__big_imges {}
.footer__img {}
.footer__contacts {
	display: block;
	width: 22%;
	padding: 5px;
	margin: 5px;
}
.footer__contacts3 {
	display: block;
	width: 50%;
	padding: 5px;
	margin: 5px;

}
.footer__h4 {
	@include font_h4;
	color: #FF5300;
	margin-bottom: 1em;
}
.footer__text {
	@include font_menu;
	color: #FFFFFF;
}
.footer__imges img{
	margin: 0 5px;
}

.footer__border{

	border: 1px solid #FFFFFF;
	max-width: 1170px;
	height: 0px;
	margin-left: 68.5px;
	margin-right: 68.5px;
}






.modal {
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
  	position: absolute;
  	justify-content: center;
  	width: 100%;
  	height: 100%; 
  	top: 0;
  	left: 0;
    position: fixed;
    perspective: 500px;
/*  opacity: 0;*/
  /*visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;*/
}
.modal .modal-wrapper {
	width: 50%;
	height: 40%;
	max-width: 400px;
	min-height: 300px;
	top: 30%;
	background: #FFFFFF;
	position: absolute;
	box-shadow: 0px 0px 13px 0px rgba(255, 83, 0,0.4);
	border-radius: 10px;
	border: 2px solid #FF5300;
	transform: rotateX(0deg);
	animation-name: modal;
	animation-duration: 1s;
}
.modal-header {
	padding: 20px;
}
.closeBtn {
	cursor: pointer;
	float: right;
	font-size: 40px;
	color: black;

}
.modal-body {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 20px;
	margin-top: 1em;
	display: flex;
	font-family: 'Noto Sans KR', sans-serif;
	font-style: bold;
	font-weight: 700;
	font-size: 39px;
	line-height: 150%;
	color: #373737;
}
.modal-footer {
	display: flex;
	justify-content: center;
	padding: 20px;
}
.modal-close:hover {
	transform: scale(1.2);

}

@keyframes modal {
	from {
		opacity: 0;
		top: 10%;
		transform: rotateX(15deg);
	}
	to {
		opacity: 1;
		top: 30%;
		transform: rotateX(0deg);
	}
}